/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --text-color: #F1B2CE;
  --text-accent-color: #FF0070;
  --text-title-color: #000028;

  --bg-color: #000028;
  --bg-accent-color: #FF0070;
  --shadow-color: #DB00FF;


  --decor-color: #FF0070;


  --text-shadow-accent: 2px 2px 0 var(--text-accent-color, #FF0070);

  --decor-border-color: 1px solid var( --decor-color, #FF0070);

  --decor-hover-color: 1px solid rgb(255 0 112 / 0.4);

  --cover-image: url(../images/cover-image-dark.png);

}