/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font-family, "IBM Plex mono", monospace);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color,#000028);
  background-image:var(--cover-image);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  background-attachment: fixed;

}